.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #353535;
    color: white;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 1080px;
    padding: 50px 0;
}

.social-icon {
    width: 20px;
    height: 20px;
    object-fit: scale-down;
    padding: 16px;
    border: 1px solid #4D4D4D;
}

.social-icon:hover {
    border: 1px solid #777777;
}

.social-icon:active {
    background-color: black;
    opacity: 0.4;
    border: 1px solid #252525;
}

.footer__section h1 {
    font-size: 18px;
    margin: 0;
    padding-bottom: 18px;
    text-transform: uppercase;
}

.footer__section h2 {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding-bottom: 18px;
}

.footer__section p {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
}

.developer-anchor {
    display: block;
    object-fit: scale-down;
    padding: 16px;
    border: 1px solid #4D4D4D;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.developer-anchor:hover {
    border: 1px solid #777777;
}

.developer-anchor:active {
    background-color: black;
    opacity: 0.4;
    border: 1px solid #252525;
}

@media screen and (max-width: 1279px) and (min-width: 320px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
    }
    .social-icon {
        width: 60px;
        height: 40px;
        object-fit: scale-down;
        padding: 16px;
        border: 1px solid #4D4D4D;
    }
    .footer__socials {
        padding: 22px 0;
    }
    .footer__socials-title {
        display: none;
    }
}