.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #353535;
    color: white;
}

.features__container {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1080px;
    padding: 260px 0 100px 0;
}

.features__card {
    padding: 0 45px 0;
    border-right: 1px solid #494949;
}

.features__card:last-child {
    border: none;
}

.features__card h3 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 24px 0 16px 0;
}

.features__card p {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

@media screen and (max-width: 1279px) and (min-width: 320px) {
    .features {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    .features__container {
        flex-direction: column;
        padding: 280px 0 60px 0;
    }
    .features__card {
        display: flex;
        flex-direction: row;
        padding: 37px 0;
        border-right: none;
        border-bottom: 1px solid #494949;
    }
    .features__card h3{
        flex-wrap: wrap;
        width: 100%;
    }
    .features__icon {
        object-fit: scale-down;
    }
    .features__card-wrapper {
        padding-left: 40px;
    }
}