.back {
    min-height: 720px;
    width: 100%;
    background-image: url("../../images/back-desktop.png");
    background-position: center;
    z-index: -10;
}

.back__logo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

@media screen and (max-width: 1279px) and (min-width: 320px) {
    .back {
        min-height: 469px;
        background-image: url("../../images/back-tablet.png");
    }
    .back__logo {
        padding-top: 50px;
    }
}
