.header__menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: black;
}

.header__menu {
    width: 80%;
    max-width: 1080px;
    background-color: black;
}

.header__menu ul {
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
}

.header__menu-item {
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    padding: 15px 0;
}

.header__menu-anchor {
    display: block;
    padding: 6px 3px;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}

.header__menu-anchor:hover {
    color: #826550;
}

.header__menu-anchor:active {
    color: white;
    opacity: 0.3;
}

.header__menu-item .active {
    border-bottom: 3px solid #826550;
}
