.statistics {
    position: absolute;
    top: 612px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.statistics__container {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1080px;
}

.statistics__description {
    background-color: white;
    width: 40%;
    min-width: 242px;
    max-width: 360px;
    padding: 34px;
}

.statistics__description p{
    margin: 0;
    font-size: 20px;
    line-height: 27px;
    padding: 38px 50px 0 0;
}

.statistics__description span{
    display: block;
    font-size: 20px;
    color: rgba(0,0,0,0.3);
    padding-top: 34px;
}

.statistics__title {
    font-size: 40px;
    margin: 0;
}

.statistics__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.statistics__card {
    background-color: white;
    color: white;
    padding: 25px 34px;
    width: 40%;
    min-width: 200px;
    max-width: 360px;
}

.statistics__card span{
    display: block;
    padding-top: 20px;
}

.statistics__card:nth-child(1) {
    background-color: #3F3F3F;
}

.statistics__card:nth-child(2) {
    background-color: #4D4D4D;
}

.statistics__card:nth-child(3) {
    background-color: #353535;
}

.statistics__card:nth-child(4) {
    background-color: #3F3F3F;
}

.statistics__number {
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
    margin: 0;
}

.statistics__card span {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

@media screen and (max-width: 1279px) and (min-width: 320px) {
    .statistics {
        top: 330px;
        width: 100%;
        text-align: center;
    }
    .statistics__container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }
    .statistics__number {
        font-size: 40px;
        line-height: 40px;
    }
    .statistics__card span {
        font-size: 18px;
        padding: 0;
    }
    .statistics__content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }
    .statistics__card {
        min-width: 40%;
        max-width: 40%;
        padding: 30px 0;
    }
    .statistics__description {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 30px 0;
    }
    .statistics__card:nth-child(1) {
        order: 1;
        background-color: #3F3F3F;
    }
    .statistics__card:nth-child(2) {
        order: 3;
        background-color: #353535;
    }
    .statistics__card:nth-child(3) {
        order: 2;
        background-color: #4D4D4D;
    }
    .statistics__card:nth-child(4) {
        order: 4;

    }
}
