.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #F8F5F2;
    color: black;
}

.contacts__container {
    width: 80%;
    max-width: 1080px;
    padding-bottom: 120px;
}

.contacts__card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacts__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 40px 0;
}

.contacts__card {
    border: 1px solid #E5DDD5;
    padding: 30px 72px;
}

.contacts__card-title {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 12px;
}

.contacts__info h1 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 18px;
    text-transform: uppercase;
}

.contacts__info h2 {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding-bottom: 18px;
}

.contacts__info p {
    font-size: 18px;
    padding: 5px 0;
    margin: 0;
    font-weight: normal;
}

@media screen and (max-width: 1279px) and (min-width: 320px) {
    .contacts__container {
        width: 80%;
    }
    .contacts__card-container {
        width: 100%;
    }
    .contacts__info {
        width: 100%;
        padding-bottom: 24px;
        order: 1;
    }
    .contacts__map {
        width: 100%;
        order: 2;
    }
}