.button {
    box-sizing: border-box;
    border-radius: 0;
    padding: 20px 25px;
    background-color: #826550;
    border: none;
    text-transform: uppercase;
    color: white;
    font-family: 'PT Sans Narrow', "Arial Narrow", sans-serif;
    font-size: 24px;
    font-weight: normal;
    width: 100%;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    border-radius: 0;
    outline: 4px solid rgba(0, 125, 250,0.6);
    border: 1px solid #999999;
}
