.reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #F8F5F2;
    color: black;
}

.reviews__container {
    width: 80%;
    max-width: 1080px;
    padding-bottom: 100px;
}

.reviews__card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviews__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 40px 0 48px 40px;
}

.reviews__card {
    border: 1px solid #E5DDD5;
    padding: 30px 72px;
}

.reviews__card-title {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 12px;
}

.reviews__card-image {
    width: 249px;
    height: 100%;
    object-fit: cover;
}

.reviews__card-review {
    margin: 0;
    font-size: 18px;
    max-width: 580px;
}

.reviews__button {
    background-color: #F8F5F2;
    border: 1px solid #E5DDD5;
    padding: 20px;
}

.reviews__button:hover {
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    cursor: pointer;
}

.reviews__button:active {
    opacity: 0.7;
}

.reviews__button_back {
    background-image: url("../../images/left-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
}

.reviews__button_forward {
    background-image: url("../../images/right-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
}

.reviews__card-wrapper {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    width: 95%;
}

@media screen and (max-width: 1279px) and (min-width: 320px) {
    .reviews__container {
        width: 80%;
        max-width: 768px;
    }

    .reviews__card-image {
        width: 95px;
        height: 95px;
        border-radius: 47px;
    }

    .reviews__card {
        border: none;
        padding: 0 0 0 30px;
    }

    .reviews__card-wrapper {
        border: 1px solid #E5DDD5;
        display: flex;
        flex-direction: row;
        padding: 40px 30px;
        min-width: 200px;
    }

    .reviews__title {
        padding-left: 0;
    }
}