.page404 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #F8F5F2;
    height: 500px;
    color: black;
    font-weight: normal;
}

.page404__container {
    width: 50%;
}

.page404__title {
    font-size: 64px;
    padding-bottom: 20px;
    border-bottom: 3px solid #826550;
    margin: 0;
}

.page404__error-description {
    padding: 20px;
}

.page404__error-description p {
    font-size: 24px;
    margin: 0;
    padding-top: 5px;
}

@media screen and (max-width: 1279px) and (min-width: 320px) {
    .page404__container {
        width: 80%;
    }
}