.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #F8F5F2;
    color: black;
}

.form__container {
    width: 80%;
    max-width: 1080px;
    padding-bottom: 100px;
}

.form__input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.form__wrapper {
    width: 100%;
}

.form__title {
    display: block;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 40px 0;
    width: 100%;
}

.form__input {
    box-sizing: border-box;
    border-radius: 0;
    padding: 20px 25px;
    border: 1px solid #E5DDD5;
    color: black;
    font-family: 'PT Sans Narrow', "Arial Narrow", sans-serif;
    font-size: 24px;
    font-weight: normal;
    width: 100%;
    margin-bottom: 35px;
}

.form__input::placeholder {
    color: black;
    font-family: 'PT Sans Narrow', "Arial Narrow", sans-serif;
}

.form__input:hover {
    border: 1px solid #999999;
}

.form__input:focus {
    border-radius: 0;
    outline: 4px solid rgba(0, 125, 250,0.6);
    border: 1px solid #999999;
}

.form__input_large {
    height: 120px;
    word-break: break-word;
    resize: none;
}

.form__input_large::placeholder {
    vertical-align: top;
}

.form__input-wrapper {
    justify-content: space-between;
    text-align: center;
}

.form__input-wrapper>.form__input {
    width: 33.33%;
}

.form__input-wrapper>.form__input_contacts {
    width: 50%;
}

@media screen and (max-width: 1279px) and (min-width: 320px) {
    .form__input {
        width: 100%;
    }
    .form {
        flex-wrap: wrap;
        text-align: center;
    }
    .form__input-wrapper>.form__input {
        width: 100%;
    }
    .form__input-wrapper>.form__input_contacts {
        width: 100%;
    }
}