.map {
    width: 60%;
    min-width: 600px;
    min-height: 450px;
}

@media screen and (max-width: 1279px) and (min-width: 320px) {
    .map {
        height: 50vh;
        width: 100%;
        min-width: 320px;
        min-height: 320px;
    }
}